header {            
    height: 100vh;
    width: 100%;
    
}

.header-background {            
    position: fixed;
    top: 0;
    background: url("../images/header-bg2.jpeg") no-repeat center;    
    background-size: cover;
    height: calc(100vh + 70px); /* Set this to same as height in banner-wrapper pls */
    width: inherit;
}

.banner-wrapper {            
    margin: auto;
    background: url("../images/black50.png");
    font-family: 'Nunito', sans-serif;    
    padding: 5px;
    height: 70px; /* Change stuff in header-background when you change this pls*/
}

.header-bg {    
    width: inherit;             
}

.cointainer {
    width: 1140px;
    margin: auto;    
}

.logo {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

h1 {    
    font-weight: bold;        
    color: #ffffff;
    line-height: 60px;
    margin: 0;
}

.nav-link {    
    font-size: 20px;
    padding: 3px 10px 3px 10px;

    color: #fff;    
}

.nav-link:hover {
    color: #fff; 
}

.floating-text {
    position: fixed;
    width: inherit;         
    top: 35vh;
    font-size: 70px;    
    font-family: 'Open Sans', sans-serif;        
    color: #fff;
    text-align: center;             
}

.btn-header {    
    background: #007AB9;
    color: #fff;    
    top:-40px;    
}

.content-wrapper {        
    position: relative;  
    padding: 80px 0 80px 0;    
    width: inherit;
    background: white;
    border-top: 1px solid transparent;    
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn:focus, .btn:active {    
    box-shadow: none;
}

a:hover {
    text-decoration: none;
}

.header-slate {        
    margin-bottom: 70px;
    padding-bottom: 10px ;    
    font-family: 'Maven Pro', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;    
    
    border-bottom: 1px solid #333;
}

.selfie {    
    height: inherit;
    width: inherit;    
    border-radius: 50%;
    border: 3px solid #333;
}

/* Delete this part later pls */
#contact-section {
    height: 1000px;
}

#portfolio-section {
    background: #2D89B7;
    color: #fff;
}

#portfolio-section .header-slate {
    border-color: #fff;
}

#connect-section {
    background: #CC7A47;
}

.connect-logo {
    opacity: .7;
    height: 80px;
}

.connect-logo:hover {
    opacity: 1;
}

.footer-wrapper {
    position: relative;
    padding: 5px;      
    height: 120px;  
    width: inherit;
    background: #333;    
    font-family: 'Roboto', sans-serif;
    color: #828282;
}

.mini-logo {    
    margin-top: .5rem;
    height: 20px;
    width: 20px;
}

.copyright {
    color: #fff;
}

.card-slot {
    padding: 15px;
}

.card {
    color: #333;
    border-width: 0px;    
}

.card:hover {
    color: #333;
}

/* Large */
@media (max-width: 1200px) and (min-width: 993px){
    .cointainer {
        width: 960px;
    }
    .connect-logo {        
        height: 60px;
    }
    .floating-text {
        font-size: 60px;
    }
}

/* Medium */
@media (max-width: 992px) {
    .cointainer {
        width: 720px;
    }
    .connect-logo {        
        height: 40px;
    }
    .floating-text {
        font-size: 45px;
    }
    .btn-header {
        top: -20px;
    }
    .header-background {            
        height: calc(100vh + 50px); /* Set this to same as height in banner-wrapper pls */
    }    
    .banner-wrapper {            
        height: 50px; /* Change stuff in header-background when you change this pls*/
    }
    h1 {
        font-size: 1.5rem;
        line-height: 40px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
}

/* Small */
@media (max-width: 767px) {
    .cointainer {
        width: 540px;
    }
    .connect-logo {        
        height: 100px;
    }
    .soc-button {
        padding: 15px 0 15px 0;
    }
    .floating-text {        
        font-size: 20px;
    }
    .btn-header {
        top: 20px;
    }
    .selfie {
        padding: 0 2rem 2rem 2rem;        
        border: none;
    }
    
}

@media (max-width: 576px) {
    .cointainer {
        width: 100%;
    }
    .connect-logo {        
        height: 60px;        
    }
    .col {
        padding: 0;
    }
    .soc-button {
        padding: 15px 0 15px 0;
    }
    .row {
        width: 100%;
        margin: 0;
    }
}